<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>475533825542-35mrolnske7unnte69n4fs3vq2atuppr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475533825542-35mrolnske7unnte69n4fs3vq2atuppr</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_vppvQihaC7OeAcZkZt_ziaVleDxmLw</string>
	<key>GCM_SENDER_ID</key>
	<string>475533825542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfoodonline</string>
	<key>PROJECT_ID</key>
	<string>foodonline-onedaycat</string>
	<key>STORAGE_BUCKET</key>
	<string>foodonline-onedaycat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475533825542:ios:7a32c836f0fbcff5</string>
	<key>DATABASE_URL</key>
	<string>https://foodonline-onedaycat.firebaseio.com</string>
</dict>
</plist>